<a href="https://colab.research.google.com/github/arashashrafii/MyJupyter/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*	Create headings, and add text in bold in Markdown
*	Insert ordered and unordered list using Markdown
*	Create Tables in Markdown
*	Demonstrate your proficiency in using Markdown in Jupyter notebooks


Some of the popular languages that Data Scientists use are:
1.   python
2.   R
3.   JAVA
4.   SCALA
5.   JULIA



Some of the commonly used libraries used by Data Scientists include:
1.  NumPy
2.  TensorFlow
3.  SciPy
4.  Pandas
5.  Matplotlib

| Data Science Tools |
| ------ |   
|  RStudio  |
| Apache Spark  |
| Apache Hadoop |
| TensorFlow  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Arash Ashrafi